<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="header">
		<h1>Family</h1>
		<ol class="breadcrumb">
    		<li><a href="/"><i class="fa fa-folder-o"></i>Master Data</a></li>
    		<li class="active">Family</li>
		</ol>

	</section>
	<div layout:fragment="content">
		<div class="box">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Submit Family</h3>
						</div>

						<div class="margin">
							<form class="form-horizontal" method="post" id="formAddFamily" th:object="${family}" th:action="@{/doAddFamily}" enctype="multipart/form-data">
								<div class="box-body">
									
									<div class="panel panel-info">
      									<div class="panel-heading">Header</div>
      									<div class="panel-body">
      									<table class="table table-striped">
      										<tr>
      											<th></th>
                    							<th></th>
      										</tr>
      										<tr>
      											<td>
													<div class="form-group">
														<label class="control-label col-sm-2" for="requestorId">Requestor ID</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" th:field="*{requestorId}" placeholder="Requestor ID" readonly="readonly"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="requestorName">Requestor Name</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" th:field="*{requestorName}" placeholder="Requestor Name" readonly="readonly"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="subject">Subject</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" th:field="*{subject}" placeholder="Subject"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="description">Description</label>
														<div class="col-sm-5">
															<textarea class="form-control" rows="4" cols="100" th:field="*{descriptionTemp}" placeholder="Description"></textarea>
														</div>
													</div>
												</td>
												<td>
													<div class="form-group">
														<label class="control-label col-sm-3" for="employeeId">Employee ID</label>
														<div class="col-sm-7">
															<input type="text" class="form-control" th:field="*{employeeId}" placeholder="Employee ID" readonly="readonly"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="employeeName">Employee Name</label>
														<div class="col-sm-7">
															<input type="text" class="form-control" th:field="*{employeeName}" placeholder="Employee Name" readonly="readonly"/>
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
									</div>
									
									<div class="panel panel-info">
      									<div class="panel-heading">Detail</div>
      									<div class="panel-body">
      									<table class="table table-striped">
      										<tr>
      											<th></th>
                    							<th></th>
      										</tr>
      										<tr>
      											<td>
													<div class="form-group">
														<label class="control-label col-sm-3" for="start_date">Start Date</label>
														<div class="col-sm-6">
															<input type="date" class="form-control" th:field="*{startDateTemp}" />
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="end_date">End Date</label>
														<div class="col-sm-6">
															<input type="date" class="form-control" th:field="*{endDateTemp}" />
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="family_type">Family Type</label>
														<div class="col-sm-6">
														<select class="form-control" th:field="*{family_type}">
															<option value="">Select Family Type</option>
															<option th:each="familyType : ${familyTypes}" th:value="${familyType.code}" th:text="${familyType.description}"></option>
														</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="name">Name</label>
														<div class="col-sm-6">
															<input class="form-control" type="text" th:field="*{name}" placeholder="Name"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="gender">Gender</label>
														<div class="col-sm-6">
														<select class="form-control" th:field="*{gender}">
															<option value="">Select Gender</option>
															<option th:each="gender : ${genders}" th:value="${gender.code}" th:text="${gender.description}"></option>
														</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="birth_place">Birth Place</label>
														<div class="col-sm-6">
															<input class="form-control" type="text" th:field="*{birth_place}" placeholder="Birth Place"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="birth_date">Birth Date</label>
														<div class="col-sm-6">
															<input type="date" class="form-control" th:field="*{birthDateTemp}" />
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="date_of_death">Date of Death</label>
														<div class="col-sm-6">
															<input type="date" class="form-control" th:field="*{dateOfDeathTemp}" />
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="medical_flag">Medical Flag</label>
														<div class="col-sm-6">
															<input class="form-control" type="text" th:field="*{medical_flag}" placeholder="Medical Flag"/>
														</div>
													</div>
      											</td>
      											<td>
      												<div class="form-group">
														<label class="control-label col-sm-3" for="last_education">Last Education</label>
														<div class="col-sm-6">
														<select class="form-control" th:field="*{last_education}">
															<option value="">Select Last Education</option>
															<option th:each="lastEducation : ${lastEducations}" th:value="${lastEducation.code}" th:text="${lastEducation.description}"></option>
														</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="address">Address</label>
														<div class="col-sm-6">
															<input class="form-control" type="text" th:field="*{address}" placeholder="Address"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="telp_home">Telephone Home</label>
														<div class="col-sm-6">
															<input class="form-control" type="text" th:field="*{telp_home}" placeholder="Telephone Home"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="telp_office">Telephone Office</label>
														<div class="col-sm-6">
															<input class="form-control" type="text" th:field="*{telp_office}" placeholder="Telephone Office"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="occupation">Occupation</label>
														<div class="col-sm-6">
															<input class="form-control" type="text" th:field="*{occupation}" placeholder="Occupation"/>
														</div>
													</div>
      											</td>
      										</tr>
      									</table>
      									
										<input type="hidden" th:field="*{landscape}" />
										<input type="hidden" th:field="*{empId}" />
										<input type="hidden" th:field="*{seq}" />

										<input type="hidden" th:field="*{user_change}" />
										<input type="hidden" th:field="*{last_change}" />
										<input type="hidden" th:field="*{created_by}"/>
										<input type="hidden" th:field="*{created_date}" />

      									</div>
      								</div>
									
									<div class="panel panel-info">
      									<div class="panel-heading">Footer</div>
      									<div class="panel-body">
      										<div class="nav-tabs-custom">
									 			<ul class="nav nav-tabs">
									 				<li class="active"><a href="#tabComment" data-toggle="tab">Comment</a></li>
									 				<li><a href="#tabAttachment" data-toggle="tab">Attachment</a></li>
									 			</ul>
									 		<div class="tab-content">
									 			<div class="tab-pane active" id="tabComment">
													<div class="form-group">
														<label class="control-label col-sm-2" for="comment">Comment</label>
														<div class="col-sm-7">
															<textarea class="form-control" rows="4" cols="100" th:field="*{comment}" placeholder="Comment"></textarea>
														</div>
													</div>
									 			</div>
									 			<div class="tab-pane" id="tabAttachment">
													<div class="form-group">
														<div class="col-xs-12" style="height:20px;"></div>
														<label class="control-label col-sm-2" for="attachment">Attachment</label>
														<div class="col-sm-7">
															<input type="file" name="file" class="form-control-file" />
														</div>
													</div>
									 			</div>
									 		</div>
										</div>
      									</div>
    								</div>
									
									<div class="box-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
<!-- 										<a href="./cancel_add_address" type="button" class="btn btn-primary">Cancel</a> -->
										<i th:if="${info != null}" th:text="${info}" class="help-block" style="color:red;"></i>
									</div>
								</div>
							</form>

						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>


		</div>
	</div>

</body>
</html>