<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="header">
		<h1>Address</h1>
		<ol class="breadcrumb">
    		<li><a href="/"><i class="fa fa-folder-o"></i>Master Data</a></li>
    		<li class="active">Address</li>
		</ol>

	</section>
	<div layout:fragment="content">
		<div class="box">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Submit Address</h3>
							<div>
								<i th:if="${info != null}" th:text="${info}" class="help-block" style="color:red;"></i>
							</div>
						</div>

						<div class="margin">
							<form class="form-horizontal" method="post" id="formAddAddress" th:object="${address}" th:action="@{/doAddAddress}" enctype="multipart/form-data">
								<div class="box-body">
									
									<div class="panel panel-warning">
      									<div class="panel-heading">Header</div>
      									<div class="panel-body">
      									<table class="table table-striped">
      										<tr>
      											<th></th>
                    							<th></th>
      										</tr>
      										<tr>
      											<td>
													<div class="form-group">
														<label class="control-label col-sm-2" for="requestorId">Requestor ID</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" th:field="*{requestorId}" placeholder="Requestor ID" readonly="readonly"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="requestorName">Requestor Name</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" th:field="*{requestorName}" placeholder="Requestor Name" readonly="readonly"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="subject">Subject</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" th:field="*{subject}" placeholder="Subject"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="description">Description</label>
														<div class="col-sm-5">
															<textarea class="form-control" rows="4" cols="100" th:field="*{description}" placeholder="Description"></textarea>
														</div>
													</div>
												</td>
												<td>
													<div class="form-group">
														<label class="control-label col-sm-3" for="employeeId">Employee ID</label>
														<div class="col-sm-7">
															<input type="text" class="form-control" th:field="*{employeeId}" placeholder="Employee ID" readonly="readonly"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="employeeName">Employee Name</label>
														<div class="col-sm-7">
															<input type="text" class="form-control" th:field="*{employeeName}" placeholder="Employee Name" readonly="readonly"/>
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
									</div>
		
<!--  							
									<div class="panel panel-info">
      									<div class="panel-heading">Result</div>
      									<div class="panel-body">
      									
<div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                	<th></th>
                    <th>Landscape</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Seq</th>
                    <th>Employee Id</th>
                </tr>
                <tr th:each="row : ${addresses}">
                	<th><input type="checkbox" id="checkAllAddress"/></th>
                    <td th:text="${row.landscape}"></td>
                    <td th:text="${row.startDateTemp}"></td>
                    <td th:text="${row.endDateTemp}"></td>
                    <td th:text="${row.seq}"></td>
                    <td th:text="${#dates.format(row.taskCreatedOn, 'dd MMMMMMMMM yyyy HH:mm')}"></td>
                    <td th:text="${row.tempInfo}"></td>
                </tr>
            </table>
        </div>
										
      									</div>
    								</div>
									
-->
									<div class="panel panel-warning">
      									<div class="panel-heading">Detail</div>
      									<div class="panel-body">
      									<table class="table table-striped">
      										<tr>
      											<th></th>
                    							<th></th>
      										</tr>
      										<tr>
      											<td>
													<div class="form-group">
														<label class="control-label col-sm-2" for="start_date">Start Date</label>
														<div class="col-sm-5">
															<input type="date" class="form-control" th:field="*{startDateTemp}" />
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="end_date">End Date</label>
														<div class="col-sm-5">
															<input type="date" class="form-control" th:field="*{endDateTemp}" />
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="address_type">Address Type</label>
														<div class="col-sm-5">
														<select class="form-control" th:field="*{addressType}">
															<option value="">Select Address Type</option>
															<option th:each="addressType : ${addressTypes}" th:value="${addressType.code}" th:text="${addressType.description}"></option>
														</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="street">Street</label>
														<div class="col-sm-5">
															<textarea class="form-control" rows="4" cols="100" th:field="*{street}" placeholder="Street"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="location">Location</label>
														<div class="col-sm-7">
															<textarea class="form-control" rows="7" cols="100" th:field="*{location}" placeholder="Location"></textarea>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-2" for="province">Province</label>
														<div class="col-sm-5">
														<select class="form-control" th:field="*{province}">
															<option value="">Select Province</option>
															<option th:each="province : ${provinces}" th:value="${province.code}" th:text="${province.description}"></option>
														</select>
														</div>
													</div>
      											</td>
      											<td>
													<div class="form-group">
														<label class="control-label col-sm-3" for="country">Country</label>
														<div class="col-sm-9">
														<select class="form-control" th:field="*{country}">
															<option value="">Select Country</option>
															<option th:each="country : ${countries}" th:value="${country.countryId}" th:text="${country.name}"></option>
														</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="city">City</label>
														<div class="col-sm-9">
															<input class="form-control" type="text" th:field="*{city}" placeholder="City"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="postalcode">Postal Code</label>
														<div class="col-sm-9">
															<input class="form-control" type="text" th:field="*{postalcode}" placeholder="Postal Code"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="contact_person">Contact Person</label>
														<div class="col-sm-9">
															<input class="form-control" type="text" th:field="*{contact_person}" placeholder="Contact Person"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="telp_num">Telephone Number</label>
														<div class="col-sm-9">
															<input class="form-control" type="text" th:field="*{telp_num}" placeholder="Telephone Number"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-3" for="cellphone_num">Cellphone Number</label>
														<div class="col-sm-9">
															<input class="form-control" type="text" th:field="*{cellphone_num}" placeholder="Cellphone Number"/>
														</div>
													</div>
      											</td>
      										</tr>
      									</table>
      									
										<input type="hidden" th:field="*{landscape}" />
										<input type="hidden" th:field="*{empId}" />
										<input type="hidden" th:field="*{seq}" />

										<input type="hidden" th:field="*{user_change}" />
										<input type="hidden" th:field="*{last_change}" />
										<input type="hidden" th:field="*{created_by}"/>
										<input type="hidden" th:field="*{created_date}" />

<!-- 										<input type="hidden" th:field="*{kecamatan}" /> -->
<!-- 										<input type="hidden" th:field="*{kelurahan}" /> -->
<!-- 										<input type="hidden" th:field="*{rt}" /> -->
<!-- 										<input type="hidden" th:field="*{rw}" /> -->
<!-- 										<input type="hidden" th:field="*{kepemilikan}" /> -->
									
      									</div>
      								</div>
									
									<div class="panel panel-warning">
      									<div class="panel-heading">Footer</div>
      									<div class="panel-body">
      										<div class="nav-tabs-custom">
									 			<ul class="nav nav-tabs">
									 				<li class="active"><a href="#tabComment" data-toggle="tab">Comment</a></li>
									 				<li><a href="#tabAttachment" data-toggle="tab">Attachment</a></li>
									 			</ul>
									 		<div class="tab-content">
									 			<div class="tab-pane active" id="tabComment">
													<div class="form-group">
														<label class="control-label col-sm-2" for="comment">Comment</label>
														<div class="col-sm-7">
															<textarea class="form-control" rows="4" cols="100" th:field="*{comment}" placeholder="Comment"></textarea>
														</div>
													</div>
									 			</div>
									 			<div class="tab-pane" id="tabAttachment">
													<div class="form-group">
														<div class="col-xs-12" style="height:20px;"></div>
														<label class="control-label col-sm-2" for="attachment">Attachment</label>
														<div class="col-sm-7">
															<input type="file" name="file" class="form-control-file" />
														</div>
													</div>
									 			</div>
									 		</div>
										</div>
      									</div>
    								</div>
									
									<div class="box-footer">
										<button type="submit" class="btn btn-warning">Submit</button>
										<a href="./cancel_add_address" type="button" class="btn btn-warning">Cancel</a>
<!-- 										<i th:if="${info != null}" th:text="${info}" class="help-block" style="color:red;"></i> -->
									</div>
								</div>
							</form>

						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>


		</div>
	</div>

</body>
</html>