<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<section layout:fragment="header">
    	<h1>Address</h1>
		<ol class="breadcrumb">
    		<li><a href="/"><i class="fa fa-folder-o"></i>Master Data</a></li>
    		<li class="active">Address</li>
		</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Address</h3>
            <div class="box-tools pull-right">
                <a href="./add_address" type="button" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Address Type</th>
                    <th>Seq</th>
                    <th>Street</th>
                    <th>Location</th>
                    <th>Province</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Postal Code</th>
                    <th>Contact Person</th>
                    <th>Telephone Number</th>
                    <th>Cellphone Number</th>
                    <th></th>
                </tr>
                <tr th:each="row : ${addresses}">
                    <td th:text="${#dates.format(row.startDateTemp, 'dd MMM yyyy')}"></td>
                    <td th:text="${#dates.format(row.endDateTemp, 'dd MMM yyyy')}"></td>
<!--                     <td th:text="${row.startDate}"></td> -->
<!--                     <td th:text="${row.endDate}"></td> -->
                    <td th:text="${row.addressTypeStr}"></td>
                    <td th:text="${row.seq}"></td>
                    <td th:text="${row.street}"></td>
                    <td th:text="${row.location}"></td>
                    <td th:text="${row.provinceStr}"></td>
                    <td th:text="${row.countryStr}"></td>
                    <td th:text="${row.city}"></td>
                    <td th:text="${row.postalcode}"></td>
                    <td th:text="${row.contact_person}"></td>
					<td th:text="${row.telp_num}"></td>
					<td th:text="${row.cellphone_num}"></td>
                    <td>
 						<a th:href="@{./edit_address(startDate=${row.startDate}, endDate=${row.endDate}, empId=${row.empId}, addressType=${row.addressType}, seq=${row.seq})}" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>