<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<!-- <head> -->
<!--     <title>Clients</title> -->
<!-- </head> -->
<body>
<section layout:fragment="header">
    <h1>Active Tasks</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-tasks"></i>My Task</a></li>
    <li class="active">Active Tasks</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Active Tasks</h3>
<!--             <div class="box-tools pull-right"> -->
<!--                 <a href="/customers/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a> -->
<!--                 <br clear="all" /> -->
<!--             </div> -->
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
<!--                     <th>Requestor</th> -->
                    <th>Created Date</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="row : ${tasks}">
                    <td th:text="${row.taskId}"></td>
                    <td th:text="${row.taskName}"></td>
                    <td th:text="${row.taskStatus}"></td>
<!--                     <td th:text="${row.taskCreatedBy}"></td> -->
                    <td th:text="${#dates.format(row.taskCreatedOn, 'dd MMMMMMMMM yyyy HH:mm')}"></td>
                    <td th:text="${row.tempInfo}"></td>
                    <td>
 						<a th:href="@{./approve_tasks?id={id}(id=${row.taskId})}" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>