
    <!-- Logo -->
    <a href="./dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
<!--       <span class="logo-mini"><b>ESS</b></span> -->
      <!-- logo for regular state and mobile devices -->
<!--       <span class="logo-lg"><b>ESS</b></span> -->
      <img src="dist/img/bank Mega Logo.jpg" width="130" height="60"/>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      
      <a href="./dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>ESS Bank Mega</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>ESS Bank Mega</b></span>
    </a>
      
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- Notifications: style can be found in dropdown.less -->
 
          <!-- Tasks: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->
			<li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
<!--               <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/> -->
              <span class="hidden-xs" th:text="${username}"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
<!--                 <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"/> -->
                <p th:text="${username}">
<!--                   Alexander Pierce - Web Developer -->
<!--                   <small>Member since Nov. 2012</small> -->
                </p>
                <br />
                <br />
<!--                 <div class="pull-left"> -->
<!--                   <a href="./profile" class="btn btn-default btn-flat">Profile</a> -->
<!--                 </div> -->
                <div class="pull-right">
                  <a href="./logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
              <!-- Menu Body -->
<!--               <li class="user-body"> -->
<!--                 <div class="row"> -->
<!--                   <div class="col-xs-4 text-center"> -->
<!--                     <a href="#">Followers</a> -->
<!--                   </div> -->
<!--                   <div class="col-xs-4 text-center"> -->
<!--                     <a href="#">Sales</a> -->
<!--                   </div> -->
<!--                   <div class="col-xs-4 text-center"> -->
<!--                     <a href="#">Friends</a> -->
<!--                   </div> -->
<!--                 </div> -->
<!--                 /.row -->
<!--               </li> -->
              <!-- Menu Footer-->
<!--               <li class="user-footer"> -->
<!--                 <div class="pull-left"> -->
<!--                   <a href="#" class="btn btn-default btn-flat">Profile</a> -->
<!--                 </div> -->
<!--                 <div class="pull-right"> -->
<!--                   <a th:href="@{/logout}" class="btn btn-default btn-flat">Sign out</a> -->
<!--                 </div> -->
<!--               </li> -->
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          
        </ul>
      </div>

    </nav>