<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
<!--         <li class="active treeview menu-open"> -->

<!--         <li class="treeview"> -->
<!--           <a href="#"> -->
<!--             <i class="fa fa-dashboard"></i> <span>Process</span> -->
<!--             <span class="pull-right-container"> -->
<!--               <i class="fa fa-angle-left pull-right"></i> -->
<!--             </span> -->
<!--           </a> -->
<!--           <ul class="treeview-menu"> -->
<!--             <li class="active"><a href="./view_process"><i class="fa fa-file-archive-o"></i>View</a></li> -->
<!--           </ul> -->
<!--         </li> -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-tasks"></i> <span>My Task</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="./tasks_owners"><i class="fa fa-file-archive-o"></i>Active Tasks</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder-o"></i> <span>Master Data</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="./findAllAddress"><i class="fa fa-address-card-o"></i>Address</a></li>
            <li class="active"><a href="./findAllReward"><i class="fa fa fa-diamond"></i>Reward</a></li>
            <li class="active"><a href="./findAllWorkingExperience"><i class="fa fa fa-drivers-license-o"></i>Working Experience</a></li>
            <li class="active"><a href="./submit_family"><i class="fa fa fa fa-group"></i>Family</a></li>
          </ul>
        </li>
<!--         <li class="treeview"> -->
<!--           <a href="#"> -->
<!--             <i class="fa fa-dashboard"></i> <span>Upload Test</span> -->
<!--             <span class="pull-right-container"> -->
<!--               <i class="fa fa-angle-left pull-right"></i> -->
<!--             </span> -->
<!--           </a> -->
<!--           <ul class="treeview-menu"> -->
<!--             <li class="active"><a href="./upload_first"><i class="fa fa-file-archive-o"></i>Upload</a></li> -->
<!--           </ul> -->
<!--         </li> -->
        </ul>
    </section>
    <!-- /.sidebar -->