<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Clients</title>
</head>
<body>
<section layout:fragment="header">
    <h1>View</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Process</a></li>
    <li class="active">View</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lists</h3>
<!--             <div class="box-tools pull-right"> -->
<!--                 <a href="/customers/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a> -->
<!--                 <br clear="all" /> -->
<!--             </div> -->
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Container</th>
                    <th>Package</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.name}"></td>
                    <td th:text="${row.version}"></td>
                    <td th:text="${row.container}"></td>
                    <td th:text="${row.packageProcess}"></td>

<!--                     <td th:text="${row.firstname + ' ' + row.lastname}"></td> -->
<!--                     <td th:text="${row.email}"></td> -->
<!--                     <td th:text="${#dates.format(row.addedDate, 'dd/MM/yyyy')}"></td> -->
<!--                     <td> -->
<!--                         <a th:href="${'/customers/edit/' + row.id}">edit</a> - -->
<!--                         <a th:href="${'/customers/delete/' + row.id}">delete</a> -->
<!--                     </td> -->
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>