<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="header">
		<h1>Upload Test</h1>
	</section>
	<div layout:fragment="content">
		<div class="box">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Upload</h3>

							<div class="box-tools">
								<div class="input-group input-group-sm" style="width: 150px;">
								</div>
							</div>
						</div>

						<div class="margin">
							<form method="POST" action="./upload" enctype="multipart/form-data">
								<div class="form-group">
    								<input type="file" name="file" class="form-control-file" />
    							</div>
    							<div class="col-xs-12" style="height:20px;"></div>
    							<div class="box-footer">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
								<i th:if="${message != null}" th:text="${message}" class="help-block" style="color:red;"></i>
							</form>

						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>


		</div>
	</div>

</body>
</html>