<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="header">
		<h1>Person</h1>
	</section>
	<div layout:fragment="content">
		<div class="box">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Add Person</h3>
						</div>

						<div class="margin">
							<form method="post" id="formAddPerson" th:object="${person}"
								th:action="@{/doAddPerson}">
								<div class="box-body">
									<div class="form-group">
										<label for="firstName">First Name</label>
										<input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"/>
									</div>
									<div class="form-group">
										<label for="lasteName">Last Name</label>
										<input type="text" class="form-control" th:field="*{lasteName}" placeholder="Last Name"/>
									</div>
									<div class="box-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
<!-- 										<a href="./cancel_add_person" type="button" class="btn btn-primary">Cancel</a> -->
										<i th:if="${info != null}" th:text="${info}" class="help-block" style="color:red;"></i>
									</div>
								</div>
							</form>

						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>


		</div>
	</div>

</body>
</html>