<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<section layout:fragment="header">
    	<h1>Working Experience</h1>
		<ol class="breadcrumb">
    		<li><a href="/"><i class="fa fa-folder-o"></i>Master Data</a></li>
    		<li class="active">Working Experience</li>
		</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Working Experience</h3>
            <div class="box-tools pull-right">
                <a href="./add_working_experience" type="button" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Sequence</th>
                    <th>Company</th>
                    <th>Job</th>
                    <th>Position</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Reason Leaving</th>
                    <th>Industry</th>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
                <tr th:each="row : ${workingExperiences}">
                    <td th:text="${#dates.format(row.startDateTemp, 'dd MMM yyyy')}"></td>
                    <td th:text="${#dates.format(row.endDateTemp, 'dd MMM yyyy')}"></td>
                    <td th:text="${row.seq}"></td>
                    <td th:text="${row.company}"></td>
                    <td th:text="${row.job}"></td>
                    <td th:text="${row.position}"></td>
                    <td th:text="${row.location}"></td>
                    <td th:text="${row.description}"></td>
                    <td th:text="${row.reason_leaving}"></td>
                    <td th:text="${row.industryStr}"></td>
                    <td th:text="${row.phone_number}"></td>
                    <td>
 						<a th:href="@{./edit_working_experience(startDate=${row.startDate}, endDate=${row.endDate}, empId=${row.empId}, seq=${row.seq})}" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>