<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<section layout:fragment="header">
    	<h1>Reward</h1>
		<ol class="breadcrumb">
    		<li><a href="/"><i class="fa fa-folder-o"></i>Master Data</a></li>
    		<li class="active">Reward</li>
		</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Reward</h3>
            <div class="box-tools pull-right">
                <a href="./add_reward" type="button" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Sequence</th>
                    <th>Data Type</th>
                    <th>Description</th>
                    <th>Responsible</th>
                    <th>Amount</th>
                    <th>SK</th>
                    <th></th>
                </tr>
                <tr th:each="row : ${rewards}">
                    <td th:text="${#dates.format(row.startDateTemp, 'dd MMM yyyy')}"></td>
                    <td th:text="${#dates.format(row.endDateTemp, 'dd MMM yyyy')}"></td>
                    <td th:text="${row.seq}"></td>
                    <td th:text="${row.dataTypeStr}"></td>
                    <td th:text="${row.description}"></td>
                    <td th:text="${row.responsible}"></td>
                    <td th:text="${row.amount}"></td>
                    <td th:text="${row.no_sk}"></td>
                    <td>
 						<a th:href="@{./edit_reward(startDate=${row.startDate}, endDate=${row.endDate}, empId=${row.empId}, seq=${row.seq})}" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>